/*----------------
 	First Section
----------------*/

.first{
    position: relative;
    justify-content: center;
    color: #fff;
    text-align: center;
    min-height: 660px;
}

.first .background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background: #2196F3 url("../images/background.png");
    z-index: -1;
}

.first .background:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #414a4f;
    opacity: 0.55;
}

.first h1{
    font-size: 80px;
    line-height: 1.5;
    margin-top: 6rem;
}

.first h2{
    font-size: 58px;
}

.first h5{
    font-size: 26px;
    margin-top: 3rem;
}

.first .button{
    margin: 3rem;
    padding: 25px 50px;
}

@media (max-width: 800px){

    .first h1{
        font-size: 48px;
    }

    .first h2{
        font-size: 34px;
    }

    .first h5{
        font-size: 20px;
        margin-top: 3rem;
    }

    .first .button{
        padding: 15px 40px;
    }

}

@media (max-height: 740px) {

    .first{
        min-height: calc(100vh - 80px);;
    }
}
