/*-------------
 	General
-------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font: normal 16px sans-serif;
    color: #555;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    position: relative;
}

ul, ol, nav{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.9;
}

a:hover{
    opacity: 1;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 50px;
}

section h3.title{
    color: #414a4f;
    text-transform: capitalize;
    font: bold 32px 'Open Sans', sans-serif;
    margin-bottom: 4rem;
    text-align: center;
}

section p{
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}

ul.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.grid li {
    padding: 0 20px;
    text-align: center;
}

.image-section {
    max-width: 100%;
    height: auto;
    display: block;
}

.button {
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
}

.outline-button {
    background: transparent;
    border: 1px solid #fff;
}

.red-button {
    background: #ff6666;
}

.headline {
    display: flex;
    flex-direction: row;
}

.text-green {
    color: #8ae2e2
}

.text-underline {
    text-decoration: underline;
}

.text-bold {
    font-weight: bold;
}

.separator {
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
    background: #eff7f7;
}


@media (max-width: 1200px){

    section{
        padding: 35px;
    }

}


@media (max-width: 800px){

    section{
        padding: 25px;
    }

}

